.redMax {
    background-color: lightpink;
}

.redMin {
    background-color: lightpink;
}

.button {
    background-color: #61dafb;
    color: #282c34;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    font-size: 30px;
    margin: auto;
}

.button:disabled {
    opacity: 0.5;
}

.buttons {
    margin: 20px 0 0 0;

    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.wrapper {
    position: relative;
    border: 2px solid cornflowerblue;
    border-radius: 20px;
    padding: 20px;
    min-width: 500px;
    color: #61dafb;
    box-shadow: 0 0 6px #00f;
}



.twiceWrapper{
    position: center;
    padding-left: 10px;
    border: 2px solid cornflowerblue;
    min-width: 450px;
    min-height: 200px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 6px #00f;
}
.twiceWrapper input{
    margin-bottom: 10px;
}


.errorSpan{
    color: red;
    font-size: 20px;
}

.span{
    color: #3f51b5;
    font-size: 20px;
}