.display {
    border: 2px cornflowerblue solid;
    text-align: center;
    padding: 30px;
    font-size: 50px;
    margin: 5px;
    background-color: #282c34;
    border-radius: 20px;
    margin: auto;
    color: #61dafb;
    font-size: 80px;
}

.displayRed {
    border: 2px cornflowerblue solid;
    text-align: center;
    padding: 30px;
    margin: 5px;
    color: red;
    font-size: 80px;
    border-radius: 20px;
    font-weight: bold;
    margin: auto;
}

.errorMessage{
    color: red;
}